<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    
</style>
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-black w3-bar-block" style="width:15%" style="font-size: medium;">
  <h3 class="w3-bar-item">Menu</h3>
  <a href="#" class="w3-bar-item w3-button">Message</a>
  <a href="#" class="w3-bar-item w3-button">Quick Info</a>
  <a href="#" class="w3-bar-item w3-button">Contact</a>
</div>

<!-- Page Content -->
<div style="margin-left:0%">





<div class="w3-container">

</div>

</div>
      
</body>
</html>